/* 
===RESET===
*/
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-size: 10px; 
    overflow-x: hidden;
}

.container {
    margin: 0 auto;
    width: 1352px;
}

ul {
    list-style: none;
}

a {
    text-decoration: none;
    cursor: pointer;
}

h1, h2, h3 {
    font-family: 'Raleway', sans-serif;
}

/*  
===CONTENT===
*/

header {
    position: fixed;
    height: 70px;
    background: #FFFFFF;
    width: 100%;
    display: flex;
    justify-content: center;
    box-shadow: 0px 3px 6px #00000029;
}

header > div.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header a {
    color: #08A6E4;
    font-size: 32px;
}

header ul {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header nav a {
    margin: 0 40px;
    color: #A5A5A5;
    font-family: 'Open Sans', sans-serif;
    font-weight: 700;
    font-size: 12px;
    line-height: 15px;
    letter-spacing: 3px;
    text-transform: uppercase;
}

header nav ul li:hover a {
    color: #000;
    border-bottom: 5px solid #08A6E4;
    padding-bottom: 25px;
}

.sell-content {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;
}

.sell {
    display: flex;
    justify-content: center;
    align-items: flex-start;
    height: 100vh;
    padding-top: 110px;
    margin-bottom: 110px;
    background-image: url(../img/Background.png);
    background-position: bottom;
    background-size: contain;
    background-repeat: no-repeat;
}

.sell-content > h1 {
    margin-bottom: 20px;
    font-size: 50px;
    line-height: 60px;
    font-weight: 400;
}

.sell-content > p {
    margin-bottom: 40px;
    font-size: 18px;
    line-height: 25px;
}

.sell-content > a {
    background-color: #08A6E4;
    color: #fff;
    font-size: 18px;
    line-height: 25px;
    padding: 20px 150px;
    border-radius: 40px;
    box-shadow: 5px 10px 15px #707070
}

.stats {
    width: 900px;
    text-align: center;
    padding-bottom: 100px;
}

.stats > h2 {
    margin-bottom: 150px;
    font-size: 36px;
    line-height: 50px;
    font-weight: 400;
}

.stats .boxes {
    display: flex;
    justify-content: space-between;
    align-items: center
}

.stats .boxes .box {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.stats .boxes .box >  i {
    width: 60px;
    height: 60px;
    border-radius: 50%;
    background-color: #FB3B64;
    text-align: center;
    position: relative;
}

.stats .boxes .box:nth-of-type(2) i {
    background-color: #08A6E4;
}

.stats .boxes .box:nth-of-type(3) i {
    background-color: #55DFB4;
}

.stats .boxes .box i::before {
    content: url(../img/Person.svg);
    position: absolute;
    top: 10px;
    right: -20px;
}

.stats .boxes .box:nth-of-type(2) i::before {
    content: url(../img/Eye.svg);
    position: absolute;
    top: 10px;
    right: -20px;
}

.stats .boxes .box:nth-of-type(3) i::before {
    content: url(../img/Catalog.svg);
    position: absolute;
    top: 10px;
    right: -20px;
}


